








<h1>Totalizador {{totalAmout}}</h1>
<div class="crypto-boxboss-saved">
  <div class="crypto-box-saved">
    <p>
      <app-input (childEvent)="handleChildEventInputPr($event)"></app-input>
    </p>
    <p>
      <app-input (childEvent)="handleChildEventInputCom($event)"></app-input>
    </p>
    <p>
      <app-input (childEvent)="handleChildEventInputAmount($event)"></app-input>
    </p>
    <p>
      <app-button (childEvent)="handleChildEvent()"></app-button>
    </p>
  </div>
  <div class="prueba">
    <span>Symbol</span>
    <span>Price</span>
    <span>Amount</span>
    <span>USDT</span>
    <div *ngFor="let item of listCrypto['crypto']" class="crypto-item-saved">
      <span class="crypto-symbol-saved">{{item.symbol}}</span>
      <span><span class="crypto-price-saved">{{item.price}}</span></span>
      <span><span class="crypto-price-saved">{{item.amount}}</span></span>
      <span><span class="crypto-price-saved">{{item.dolares}}</span></span>
      <span class="deleteCard" (click)="deleteCard(item.symbol)">borrar</span>
    </div>
  </div>
</div>
<hr>
<div *ngFor="let item of cryptoData" class="crypto-item">
  <p class="crypto-symbol">Símbolo: {{ item.symbol }}</p>
  <p class="crypto-price">Precio: {{ item.price }}</p>
</div>