.crypto-item-saved {
  //display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  //margin-bottom: 10px;
  padding: 10px;
  margin-right: 5px;
}

.crypto-symbol-saved {
  font-weight: bold;
}

.crypto-price-saved {
  color: green;
}

.crypto-box-saved {
  margin-right: 30px;
}

.crypto-boxboss-saved {
  //display: flex;
}

.deleteCard {
  color: red;
}

.prueba {
  font-size: 12px;
  font-family: IBM Plex Mono;
  font-weight: 400;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.donutChart {
  display: flex;
  margin-bottom: 50px;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}
.imagen-pequena {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.crypto-box-total {
margin-bottom: 60px;
}
.pointer-text {
  cursor: pointer;
}
.align-item {
  text-align: center;
}

.table-container {
  position: relative;
}

.fixed-row {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Puedes ajustar el color de fondo según tus preferencias */
  z-index: 1; /* Asegura que la fila fija esté encima del contenido desplazable */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px; /* Ajusta el margen superior según sea necesario para evitar solapamientos */
}
.table-container-wallet {
  height: 500px;
  overflow: auto;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@keyframes flashGreen {
  0%, 50%, 100% {
    color: black; /* Color original */
  }
  25%, 75% {
    color: green; /* Color de parpadeo en verde */
  }
}

@keyframes flashRed {
  0%, 50%, 100% {
    color: black; /* Color original */
  }
  25%, 75% {
    color: red; /* Color de parpadeo en rojo */
  }
}
.flash-green {
  animation: flashGreen 5s infinite; /* 2 segundos de duración, infinito para repetir */
}

.flash-red {
  animation: flashRed 5s infinite; /* 2 segundos de duración, infinito para repetir */
}


