<div class="crypto-box-total">
<h1>USDT:<span [ngClass]="{'flash-green': totalAmount > totalAmountPrev, 'flash-red': totalAmount < totalAmountPrev}"> ${{formatearNumero(totalAmount)}}</span></h1> 
  <h1>BTC: <span [ngClass]="{'flash-green': totalAmount > totalAmountPrev, 'flash-red': totalAmount < totalAmountPrev}"> {{totalBTC}}</span> Satoshis</h1>
</div>
<div class="crypto-boxboss-saved">
  <table>
    <tr>
      <td style="width: 50%;">
        <div class="donutChart">
          <div class="crypto-box-saved">
            <p>
              <app-input [placeholder]="{data:'BTC', type:'string'}" (childEvent)="handleChildEventInputPr($event)"></app-input>
            </p>
            <p>
              <app-input [placeholder]="{data:'USDT', type:'string'}" (childEvent)="handleChildEventInputCom($event)"></app-input>
            </p>
            <p>
              <app-input [placeholder]="{data:'Amount', type:'number'}" (childEvent)="handleChildEventInputAmount($event)"></app-input>
            </p>
            <p>
              <app-button (childEvent)="handleChildEvent()"></app-button>
            </p>
          </div>
          <div>
            <app-donut-chart [listCrypto]="single"></app-donut-chart>
          </div>
        </div>
      </td>
      <td>
        <app-follow-up></app-follow-up>
      </td>
    </tr>
  </table>

  <section class="table-container-wallet" tabindex="0">
    <table class="table table-hover">
      <thead>
          <tr>
              <td (click)="orderByRank()" class="align-item fixed-row" scope="col">Rank</td>
              <td class="fixed-row" scope="col">Symbol ==> {{listCrypto.length}} Coins</td>
              <td class="align-item fixed-row" scope="col">Price</td>
              <td (click)="orderBy1h()" class="align-item fixed-row" scope="col">1h</td>
              <td (click)="orderBy24h()" class="align-item fixed-row" scope="col">24h</td>
              <td (click)="orderBy7d()" class="align-item fixed-row" scope="col">7d</td>
              <td class="align-item fixed-row" scope="col">24h Volume</td>
              <td (click)="orderByRank()" class="align-item fixed-row" scope="col">Market Cap</td>
              <td class="align-item fixed-row" scope="col">Amount</td>
              <td (click)="orderbyUsdt()" class="align-item fixed-row" scope="col" [ngClass]="{'flash-green': totalAmount > totalAmountPrev, 'flash-red': totalAmount < totalAmountPrev}">${{formatearNumero(totalAmount)}}</td>
              <td class="align-item fixed-row" scope="col">Opciones</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of listCrypto">
              <td class="align-item" [ngClass]="{'no-found': item.market_cap_rank === 'X'}">{{item.market_cap_rank}}</td>
              <td class="pointer-text" [routerLink]="['/detail', item.symbol + 'USDT']" [ngClass]="{'no-found': item.market_cap_rank === 'X'}"><img [src]="item.image" class="imagen-pequena">{{ item.name }} ({{item.symbol}})</td>
              <td class="align-item" [ngClass]="{'flash-green': item.price > item.pricePrev, 'flash-red': item.price < item.pricePrev, 'no-found': item.market_cap_rank === 'X'}">${{ item.price }}</td>
              <td class="align-item" [ngClass]="{'text-success': item.price1h > 0,'text-danger': item.price1h < 0,'no-found': item.market_cap_rank === 'X'}">{{ item.price1h | number:'1.1-1' }}%</td>
              <td class="align-item" [ngClass]="{'text-success': item.price24h > 0,'text-danger': item.price24h < 0,'no-found': item.market_cap_rank === 'X'}">{{ item.price24h | number:'1.1-1'}}%</td>
              <td class="align-item" [ngClass]="{'text-success': item.price7d > 0,'text-danger': item.price7d < 0,'no-found': item.market_cap_rank === 'X'}">{{ item.price7d | number:'1.1-1'}}%</td>
              <td class="align-item" [ngClass]="{'no-found': item.market_cap_rank === 'X'}">{{ item.total_volume | currency:'':'symbol':'1.0-0' }}</td>
              <td class="align-item" [ngClass]="{'no-found': item.market_cap_rank === 'X'}">{{ item.market_cap | currency:'':'symbol':'1.0-0' }}</td>
              <td class="align-item" [ngClass]="{'no-found': item.market_cap_rank === 'X'}">{{ item.amount}}</td>
              <td class="align-item" [ngClass]="{'flash-green': item.price > item.pricePrev, 'flash-red': item.price < item.pricePrev, 'no-found': item.market_cap_rank === 'X'}">${{ formatearNumero(item.dolares)}}</td>
              <td class="align-item" [ngClass]="{'no-found': item.market_cap_rank === 'X'}">
                <button class="deleteCard" [ngClass]="{'flash-green': item.price > item.pricePrev, 'flash-red': item.price < item.pricePrev}" mat-raised-button (click)="openDialogEdit(item)">Editar</button>
                <button class="deleteCard" [ngClass]="{'flash-green': item.price > item.pricePrev, 'flash-red': item.price < item.pricePrev}" mat-raised-button (click)="openDialog('0ms', '0ms', item.symbol)">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
  </section>
</div>
