<p>cryptocurrency-list works!</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">price</th>
            <th scope="col">1h</th>
            <th scope="col">24h</th>
            <th scope="col">7d</th>
            <th scope="col">24h Volume</th>
            <th scope="col">Market Cap</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataCoingecko" >
            <th scope="row">{{item.market_cap_rank}}</th>
            <td class="pointer-text" [routerLink]="['/detail', item.symbol + 'USDT']"><img [src]="item.image" class="imagen-pequena">{{ item.name }}-{{item.symbol}}</td>
            <td>${{ item.current_price }}</td>
            <td [ngClass]="item.price_change_percentage_1h_in_currency > 0? 'text-success' : 'text-danger'">{{ item.price_change_percentage_1h_in_currency | number:'1.1-1' }}%</td>
            <td [ngClass]="item.price_change_percentage_24h_in_currency > 0? 'text-success' : 'text-danger'">{{ item.price_change_percentage_24h_in_currency | number:'1.1-1'}}%</td>
            <td [ngClass]="item.price_change_percentage_7d_in_currency > 0? 'text-success' : 'text-danger'">{{ item.price_change_percentage_7d_in_currency | number:'1.1-1'}}%</td>
            <td>{{ item.total_volume | currency:'':'symbol':'1.0-0' }}</td>
            <td>{{ item.market_cap | currency:'':'symbol':'1.0-0' }}</td>
        </tr>
    </tbody>
</table>