.crypto-box-saved{
    display: inline-flex;
}
.create-new-location{

}
.margin-top-input-edit {
    margin-top: 40px;
}
.create-new-location {
    margin-top: 47px;
}
.content-edit {
    margin: 20px 20px 20px 20px;
    height: 15pc
}

.margin-top-donut {
    margin-top: 16px;
}