<h1 mat-dialog-title>Editar {{inputdata.symbol}}!</h1>
<div mat-dialog-content>
    <p>
        <app-select [dataPopupEditCrypto]="dataPopupEditCrypto"></app-select>
    </p>
    Amount:{{inputdata.amount}}
    <app-input (childEvent)="handleChildEventInputAmountEdit($event)">asdasds</app-input>


</div>
<div mat-dialog-actions>
    <button (click)="editpopup(inputdata)" mat-button>Editar</button>
    <button (click)="closepopup()" mat-button mat-dialog-close cdkFocusInitial>Cancelar edición</button>
</div>